/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.fa-solid {
    color: var(--main-color);
}

.body-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/************** Header **************/
.header-container {
    display:flex;
    justify-content: space-between; 
    align-items: center;/* Centre verticalement les éléments */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    margin-top : 10px;
    margin-bottom: 30px; /* Centre le header et ajoute une marge inférieure */
    height: 70px; /* Hauteur fixe du header */
    padding: 0; /* Ajustez selon vos besoins */
}

.header-container img {
    height: 20px; /* Hauteur fixe */
    width: auto; /* Largeur ajustée automatiquement */
}

/* Styles pour le menu principal */
.nav-links {
    list-style: none; /* Supprime les puces de la liste */
    display: flex; /* Active Flexbox */
    align-self: flex-end; /* Aligne les éléments en haut */
    gap: 20px; /* Espacement entre les éléments */
    height: 60px; /* Hauteur fixe du header */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
}

.nav-links li a {
    padding-top: 10px; /* Réduit l'espace au-dessus du texte */
}

.nav-links li a.active {
    color: var(--main-color); 
    border-top: 2px solid var(--main-color); 
}

.nav-links li a:hover {
    color: var(--main-color); /* Couleur du texte pour le lien actif */
    border-top: 2px solid var(--main-color);  /* Couleur bleue de la barre */
}

.nav-links:hover a.active:not(:hover) {
    color: #333333; /* Restaure la couleur du texte par défaut */
    border-top: none; /* Supprime la barre bleue */
}

/************** Main **************/
.main-container {
    margin-top: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}


.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles pour la barre de recherche */
.search-bar {
    display: flex;
    justify-content: center; /* Centre la liste horizontalement */
    box-sizing: border-box;
    max-width: 400px; /* Limite la largeur maximale */
    margin-top: 30px ; /* Ajoute une marge haute */
    margin-bottom: 10px ; /* Ajoute une marge basse */
    color:black; /* Couleur de la bordure */
    border: 10px; /* Taille de la bordure */
} 

.search-bar ul {
    display: flex;
    list-style: none; /* Supprime les puces de la liste */
    align-items: center; /* Centre verticalement les éléments */
    gap: 10px; /* Espacement entre les éléments */
    padding: 0;
    margin: 0;
    border-radius: 20px; /* Angles arrondis */
    border-width: 2px; /* Taille de la bordure */
    border-color: var(--main-bg-color); /* Couleur de la bordure */
    border-style: solid; /* Style de la bordure */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
} 

.search-bar input {
    border: none; /* Supprime la bordure par défaut */
    background-color: transparent; /* Fond transparent */
    width: 100%; /* Prend toute la largeur disponible */
}

.search-bar ul li:first-child {
    background-color: #F2F2F2; /* Couleur de fond gris */
    border-width: 2px; /* Taille de la bordure */
    border-color: var(--main-bg-color); /* Couleur de la bordure */
    border-radius: 20px 0 0 20px; /* Arrondit uniquement les coins gauches */
    padding:  21.5px; /* Espace intérieur de l'élément */
    box-sizing: content-box; /* Inclut le padding dans la largeur */
}

.search-bar ul li:first-child i {
    font-size: 1.2em; /* Taille de l'icône */
    color: #333; /* Couleur noire pour l'icône */
}

.search-bar ul li:nth-child(2) {
    background-color: #ffffff; /* Couleur de fond blanche */
}

.search-bar ul li:nth-child(2) input {
    width: 100%; /* Prend toute la largeur de l'élément parent */
    border: none; /* Supprime les bordures par défaut */
    padding: 0 20px 0 0; /* Espace intérieur du champ */
    font-size: 1em; /* Taille de la police */
    font-weight: bold; /* Rend le texte en gras */
    border-radius: 0; /* Pas d'arrondi pour correspondre à la barre */
    outline: none; /* Supprime le contour au focus */
}

.search-bar ul li:last-child {
    background-color: #0065FC; /* Couleur de fond bleue */
    border-radius: 0 20px 20px 0; /* Arrondit uniquement les coins gauches */
    padding: 20px; /* Espace intérieur de l'élément */
    box-sizing: content-box; /* Inclut le padding dans la largeur */
}

.search-bar ul li:last-child button {
    border: none; /* Supprime les bordures par défaut */
    background: none; /* Supprime le fond par défaut */
    cursor: pointer; /* Change le curseur au survol */
    color: #fff; /* Couleur blanche pour l'icône du bouton */
    font-size: 1.2em; /* Taille de l'icône */
    font-weight: bold; /* Rend le texte en gras */
    outline: none; /* Supprime le contour au focus */
    border-radius: 0 20px 20px 0; /* Arrondit uniquement les coins droits */
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.search-bar ul li:last-child button:hover {
    background-color: rgba(0, 101, 252, 0.8); /* Change la couleur au survol */
}

.search-bar-button-icon {
    display: none; /* Masqué par défaut */
    font-size: 18px;
}

/* Styles pour les filtres de recherche */
.search-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-filters ul {
    display: flex;
    flex-wrap: wrap ; /* Permet le retour à la ligne des éléments */
    gap: 10px;
    margin: 0; /* Supprime les marges par défaut */
    padding: 20px 0px 20px 0 ; /* Supprime les paddings par défaut */
}

.search-filters ul li:first-child {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    list-style: none; /* Supprime les puces de la liste */
    padding: 10px; /* Espace intérieur de l'élément */
}

.search-filters li:not(.exclu) {
    display: flex;
    gap: 20px;
    padding: 10px; /* Espace intérieur de l'élément */
    border: solid 2px #d9d9d9; /* Couleur de la bordure grise*/
    border-radius: 25px; /* Angles arrondis */
    list-style: none; /* Supprime les puces de la liste */
}

.search-filters li .button-icon {
    font-size: 32px;
}

.search-filters li button {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    border: none;
    background-color: transparent;
    gap: 10px;
}

.search-filters ul li:not(:first-child):hover {
    background-color: var(--filter-bg-color);
}

.filters-text-button {
    font-size: 15px;
    font-weight: 600;
}

.filters-button-icon {
    font-size: 20px;
}  

.info-text {
display: flex;
align-items: flex-start;
gap: 10px;
margin-top: 20px;
margin-bottom: 40px;
}

/****** Hebergements And Populaires ***********/
.main-title h2 {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.hebergements-and-populaires-and-activity {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires-and-activity section {
    box-sizing: border-box;
}

.show-more {
    font-size: 18px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding: 30px;
    background-color:var(--main-bg-color);
    border-radius: 20px;
    padding-bottom: 10px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 20px;
}

.hebergements-cards .card {
    display: grid;
    height: 200px;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    padding: 30px;
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    width: 100%;
    padding: 30px;
    background-color:transparent;
    padding-bottom: 10px;
}

.activites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 20px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 0;
    padding-bottom: 10px;
}

.activites-cards img {
    height: 336px;
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding-left: 15px;
}

.activites-cards .card-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires-and-activity {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .search-filters ul li:first-child {
        flex-basis: 100%; /* Appliquer flex-basis pour prendre toute la largeur */
        justify-content: flex-start; /* Aligner à gauche */
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .activites-cards img {
        height: 236px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    .body-container {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .main-container {
        padding: 0px;
    }
    /* Header */
    .header-container {
        flex-direction: column;
        max-width: none; /* Supprime la limitation de largeur */
        height: auto; /* La hauteur s'adapte */
        margin: 0px; /* Centre le header et supprime la marge inférieure */
    }

    .header-container img {
        padding-top : 30px;
        padding-bottom : 30px;
    }

    .nav {
        width : 100%;
    }

    .nav-links {
        display: flex;
        justify-content: space-around; /* Centre les liens horizontalement */
        width: 100%; /* Assure que la liste prend toute la largeur du nav */
        padding: 0; /* Supprime les paddings supplémentaires */
        margin: 0; /* Supprime les marges supplémentaires */
        gap: 0px; /* Supprime l'espacement entre les éléments */
    }

    .nav-links li {
        flex: 1; /* Chaque lien prend une part égale */
    }

    .nav-links li a {
        display: block; /* Permet à l'élément de prendre toute la largeur disponible */
        text-align: center; /* Centre le texte à l'intérieur de chaque lien */
        padding: 10px 0; /* Ajuste le padding pour une meilleure lisibilité */
        border-top: none; /* Supprime la bordure supérieure par défaut */
        border-bottom: 2px solid transparent; /* Préserve l'espace pour la bordure inférieure */
    }

    .nav-links li a.active {
        border-bottom: 2px solid var(--main-color); 
        border-top: none; /* Supprime la bordure supérieure */
    }
    
    .nav-links li a:hover {
        border-bottom: 2px solid var(--main-color);   /* Couleur bleue de la barre */
        border-top: none; /* Supprime la bordure supérieure */
    }
    
    .nav-links:hover a.active:not(:hover) {
        border-bottom: none; /* Supprime la barre bleue */
    }

    /* Main */
    
    .padding-container {
        padding: 0 10px;
    }

    .info-text {
        margin-bottom: 0px;
    }
    
    .search-bar-button-text {
        display: none; /* Masque le texte sur les petits écrans */
    }

    .search-bar-button-icon {
        display: inline-block; /* Affiche l'icône sur les petits écrans */
    }

    .search-bar ul li:last-child {
        border-radius: 20px 20px 20px 20px; /* Arrondit uniquement les coins droits */
    }

    .search-filters li {
        justify-content: space-around; /* Centre les éléments horizontalement */
        width: 40%; /* Prend toute la largeur disponible */
    }

    .search-filters ul {
        padding-left: 0; /* Supprime le padding à gauche */
        justify-content: center; /* Centre horizontalement */
    }

    .search-filters ul li:first-child {
        flex-basis: 100%; /* Appliquer flex-basis pour prendre toute la largeur */
        justify-content: flex-start; /* Aligner à gauche */
    }

    .hebergements-and-populaires-and-activity {
        flex-direction: column-reverse;
    }

    .hebergements {
        background-color: white;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .populaires {
        border-radius: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .card {
        margin: 0;
    }
}